BOT_TOKEN=123456:YOUR_TELEGRAM_BOT_TOKEN
ADMIN_IDS=123456789,987654321
DEFAULT_COMMISSION_PERCENT=2.5

FAQ_LINK=https://telegra.ph/Nachalo-raboty-06-18
CHANNEL_LINK=https://t.me/infinity_ex_channel
CHAT_LINK=https://t.me/+nzNlzzrwBUQ4YjRi
REVIEWS_LINK=https://t.me/infinity_ex_comment
REVIEW_FORM_LINK=https://t.me/Infinity_exchange_bot?start=D9LmdsU0mc
MANAGER_LINK=https://t.me/manager_Infinity
OPERATOR_LINK=https://t.me/operator_Infinity
TERMS_LINK=https://telegra.ph/Polzovatelskoe-soglashenie-The-Infinity-Exchange-12-25
